.index-style {
  button {
                background-color: #595d5e; 
                color: white;             
                padding: 20px 20px;        
                border-radius: 5px;      
            }
        
            button:hover {
                background-color: #2f3031; 
            }
    
    
            body {
                font-family: Arial, sans-serif; 
                background-color: #f0f0f0; 
                text-align: center; 
                margin-top: 70px;
            }
}
.register-style {
  body {
                background-color: black;
                text-align: center; 
            }

            form {
                margin:  auto;
                padding: 20px;
                width: 400px; 
                background-color: #fff;
            }

            input, select, button {
                width: 90%;
                padding: 10px;
                margin: 10px;
            }

            button {
                background-color: #4CAF50;
                color: white; 
                font-weight: bold;
                font-size: medium;
                cursor: pointer; 
            }

            button:hover {
                background-color: #104212; 
            }
}

.enrolled-style {
   td{
                background-color: aliceblue;
            }
    
            body{
                padding: 50px;
            }
}
.courses-style {
 td{
                background-color: aliceblue;
            }
    
            body{
                padding: 50px;
            }
}